h {
    color: #ffff;
    font-size: 2rem;
}
p {
    color: #ffff;
    font-size: 1rem;
}
.h-inv {
    color: black;
    font-size: 2rem;
}
.p-inv {
    color: black;
    font-size: 1rem;
}
.h-b {
    color: #161671;
    font-size: 2rem;
}
.p-b {
    color: #161671;
    font-size: 1rem;
}
.link:link {
    color: #ffff;
}
.link:visited {
    color: #ffff;
}
.link:hover {
    color: rgb(226, 214, 43);
}
.link:active {
    color: #ffff;
}
.btn-primary {
    background-color: #161671;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
}
body {
    background-color: #5e6575;
    background-size: 100%;
}
ul {
    width: 100%;
    height: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
li {
    float: left;
    padding: 10px;
}
li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    border-radius: 3px;
}
li a:hover {
    background-color: #161671;
}
hr {
    border-radius: 1px;
    color: #161671;
}
.content {
    padding: 5vw;
    text-align: center;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #161671;
    text-align: center;
}
