.outer {
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    border-width: 3px;
    text-align: center;
    padding: 2rem;
}
.inner {
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    border-width: 3px;
}